
#form-payment-method .holmbank_payment_method_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#form-payment-method .holmbank_payment_method_data img {
    width: 80px;
}

#form-payment-method .holmbank_method_description {
    display: none;
    flex-basis:100%;
    margin-top: 10px;
}

#form-payment-method .holmbank_loan_product_type {
    height: 37px;
}


#form-payment-method .holmbank_method_name {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


div.holmbank_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

div.holmbank_container:has(div.holmbank_logo) {
    margin-top: 20px;
}

div.holmbank_content {
    margin-top: 10px;
    margin-left: 10px;
}

span.estimation_text {
    font-size: 13px;
    font-weight: 600;
    color: black;
}

a.estimation_text {
    font-size: 13px;
    font-weight: 600;
    color: black;
}

div.holmbank_calculator_description {
    font-size: 11px;
}

div.holmbank_logo img {
    width: 80px;
}

@media screen and (max-width: 767px) {
    div.holmbank_container {
        flex-direction: row;
    }
    div.holmbank_content {
        margin-top: 0;
        margin-left: 10px;
    }

    span.estimation_text {
        font-size: 18px;
    }
}