{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button id="settings_submit" type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" data-bs-original-title="{{ button_save }}" aria-label="{{ button_save }}">
                    <i class="fa-solid fa-save"></i>
                </button>
                <a href="{{ href_back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
            </div>
            <h1>{{ heading_title_main }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (is_key_initialized) %}
            <div class="alert alert-info">
                <i class="fas fa-exclamation-circle"></i>
                {{ create_merchant_product_message }}
                <a href="{{ href_add }}" data-bs-toggle="tooltip" title="Add Merchant Product" class="btn btn-primary">Add</a>
            </div>
        {% endif %}
        <div class="card">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    {% for merchant_product_table_header in merchant_product_table_headers %}
                        <td>{{ merchant_product_table_header|e }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for merchant_product_table_item in merchant_product_table_data %}
                    <tr>
                        {% for item_key,item_info in merchant_product_table_item %}
                            {% if (item_key != 'deleteUrl') and (item_key != 'editUrl') %}
                                <td>{{ item_info|raw }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <div class="dropdown">
                                <div class="btn-group">
                                    <a href="{{ merchant_product_table_item['editUrl'] }}" data-bs-toggle="tooltip" title="Edit product" class="btn btn-primary">Edit</a>
                                    {% if (is_key_initialized) %}
                                        <button type="button" data-bs-toggle="dropdown" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split"><i class="fa-solid fa-caret-down"></i></button>
                                    {% endif %}
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="{{ merchant_product_table_item['deleteUrl'] }}" class="dropdown-item"><i class="fa-regular fa-trash-can fa-fw"></i> Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
            <div class="card-body">
                <form id="form-payment" action="{{ href_save }}" method="post">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="input-key"><span data-toggle="tooltip">{{ x_payment_link_key_text }}</span></label>
                        <div class="col-sm-6">
                            <input type="text" name="payment_holmbank_x_payment_link_key" value="{{ config_setting.payment_holmbank_x_payment_link_key }}" placeholder="{{ api_key_input_placeholder }}" id="input-key" class="form-control"/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="input-status" class="col-sm-2 col-form-label">{{ is_live_status_text }}</label>
                        <div class="col-sm-10">
                            <div class="form-check form-switch form-switch-lg">
                                {% if (config_setting.payment_holmbank_live_activity_status) %}
                                    <input type="hidden" name="payment_holmbank_live_activity_status" value="0">
                                    <input type="checkbox" name="payment_holmbank_live_activity_status" value="1" id="input-status" class="form-check-input" checked>
                                {% else %}
                                    <input type="hidden" name="payment_holmbank_live_activity_status" value="0" checked>
                                    <input type="checkbox" name="payment_holmbank_live_activity_status" value="1" id="input-status" class="form-check-input">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-status" class="col-sm-2 col-form-label">{{ is_module_active }}</label>
                        <div class="col-sm-10">
                            <div class="form-check form-switch form-switch-lg">
                                {% if (config_setting.payment_holmbank_status) %}
                                    <input type="hidden" name="payment_holmbank_status" value="0">
                                    <input type="checkbox" name="payment_holmbank_status" value="1" id="input-status" class="form-check-input" checked>
                                {% else %}
                                    <input type="hidden" name="payment_holmbank_status" value="0" checked>
                                    <input type="checkbox" name="payment_holmbank_status" value="1" id="input-status" class="form-check-input">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}