{{ header }}{{ column_left }}
<div id="content" class="payment-holmbank">
    <div class="page-header">
        <div class="container-fluid">
            <div class="float-end">
                <button type="submit" form="form-merchant-product" data-bs-toggle="tooltip" title="" class="btn btn-primary" data-bs-original-title="Save" aria-label="Save"><i class="fa-solid fa-save"></i></button>
                <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fas fa-reply"></i></a>
            </div>
            <h1>{{ heading_title_main }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ merchant_product_add_title }}</div>
            <div class="card-body">
                <form id="form-merchant-product" action="{{ merchant_product_data is defined ? href_edit_merchant_product : href_add_merchant_product }}" method="post">
                    <div class="row mb-3">
                        <label for="input-merchant-product-type" class="col-sm-2 col-form-label">{{ form_type_label }}</label>
                        <div class="col-sm-6">
                            <select name="type" id="input-merchant-product-type" class="form-control">
                                {% for merchant_product_type in merchant_product_types %}
                                        <option {{ (merchant_product_data is defined) and (merchant_product_type['type'] == merchant_product_data['type']) ? 'selected' : '' }} value="{{ merchant_product_type['type'] }}">{{ merchant_product_type['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-name-label" class="col-sm-2 col-form-label">{{ form_name_label }}</label>
                        <div class="col-sm-6">
                            <input value="{{ merchant_product_data is defined ? merchant_product_data['name'] : merchant_product_types[0]['name'] }}" type="text" name="name" id="input-form-name-label" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input_form_description_label" class="col-sm-2 col-form-label">{{ form_description_label }}</label>
                        <div class="col-sm-6">
                            <textarea cols="100" name="description" id="input_form_description_label" class="form-control">{{ merchant_product_data is defined ? merchant_product_data['description']|trim : "" }}</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-logo-label" class="col-sm-2 col-form-label">{{ form_logo_label }}</label>
                        <div class="col-sm-6">
                            <input value="{{ merchant_product_data is defined ? merchant_product_data['logo'] : merchant_product_types[0]['logoUrl'] }}" type="text" name="logo" id="input-form-logo-label" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-active-label" class="col-sm-2 col-form-label">{{ form_active_label }}</label>
                        <div class="col-sm-10">
                            <div class="form-check form-switch form-switch-lg">
                                {% if merchant_product_data is defined and merchant_product_data['is_enabled'] %}
                                    <input type="hidden" name="is_enabled" value="0">
                                    <input type="checkbox" name="is_enabled" value="1" id="input-form-active-label" class="form-check-input" checked>
                                {% else %}
                                    <input type="hidden" name="is_enabled" value="0" checked>
                                    <input type="checkbox" name="is_enabled" value="1" id="input-form-active-label" class="form-check-input">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-is-calculator-displayed-label" class="col-sm-2 col-form-label">{{ form_is_calculator_displayed_label }}</label>
                        <div class="col-sm-10">
                            <div class="form-check form-switch form-switch-lg">
                                {% if merchant_product_data is defined and merchant_product_data['is_calculator_displayed'] %}
                                    <input type="hidden" name="is_calculator_displayed" value="0">
                                    <input type="checkbox" name="is_calculator_displayed" value="1" id="input-form-is-calculator-displayed-label" class="form-check-input" checked>
                                {% else %}
                                    <input type="hidden" name="is_calculator_displayed" value="0" checked>
                                    <input type="checkbox" name="is_calculator_displayed" value="1" id="input-form-is-calculator-displayed-label" class="form-check-input">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-interest-rate-label" class="col-sm-2 col-form-label">{{ form_interest_rate_label }}</label>
                        <div class="col-sm-6">
                            <input value="{{ merchant_product_data is defined ? merchant_product_data['interest_rate'] : "" }}" type="text" name="interest_rate"id="input-form-interest-rate-label" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-payment-period-label" class="col-sm-2 col-form-label">{{ form_payment_period_label }}</label>
                        <div class="col-sm-6">
                            <input value="{{ merchant_product_data is defined ? merchant_product_data['payment_period'] : "" }}" type="text" name="payment_period" id="input-form-payment-period-label" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-calculator-text-label" class="col-sm-2 col-form-label">{{ form_calculator_text_label }}</label>
                        <div class="col-sm-6">
                            <input value="{{ merchant_product_data is defined ? merchant_product_data['calculator_text'] : "" }}" type="text" name="calculator_text" id="input-form-calculator-text-label" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="input-form-calculator-link-label" class="col-sm-2 col-form-label">{{ form_calculator_link_label }}</label>
                        <div class="col-sm-6">
                            <input value="{{ merchant_product_data is defined ? merchant_product_data['calculator_link'] : "" }}" type="text" name="calculator_link" id="input-form-calculator-link-label" class="form-control">
                        </div>
                    </div>
                    {% if merchant_product_data is defined %}
                        <input value="{{ merchant_product_id }}" type="hidden" name="id_merchant_product">
                    {% endif %}
                    <input type="submit" value="submit" style="display: none" />
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // Insert loaded values from API.
    document.addEventListener("DOMContentLoaded", function(event) {
        let paymentOption = $('#input-merchant-product-type').val();

        $('#input-merchant-product-type').on('change', function(e) {
            let paymentOption = $('#input-merchant-product-type').val();

            for (const [key, value] of Object.entries(JSON.parse('{{ merchant_product_types | json_encode | raw }}'))) {
                if(value.type == paymentOption) {
                    $('#input-form-name-label').val(value.name);
                    $('#input-form-logo-label').val(value.logoUrl);
                }
            }
        })
    });
</script>
{{ footer }}