
<div class="holmbank_payment_methods">
    <form action="{{ href_confirm }}" method="post">
        <div class="d-inline-block pt-2 pd-2 w-100 text-end">
            <button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
        </div>
    </form>
</div>
