
<div class="holmbank_payment_method_data" style="display:flex;flex-direction:row;flex-wrap:wrap;">
    <img src="{{ merchant_product.logo|e }}" alt="{{ merchant_product.name|e }} logo" style="width: 80px;padding-right: 10px">
    <span class="holmbank_method_name" style="display: flex;align-items: center;">{{ merchant_product.name|e }}</span>
    <span class="holmbank_method_description" style="display: none;flex-basis:100%;margin-top: 10px;">{{ merchant_product.description|e }}</span>
</div>

